.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background: #F3EDE5;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

header {
  padding: 30px 0;
}
header nav {
  width: 40%;
  max-width: 450px;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header ul li {
  position: relative;
  margin: 5px 5px;
}
header ul li #dropdown:checked ~ .dropdown {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 1;
}
header ul li input {
  display: none;
}
header ul li label, header ul li a {
  color: #6C6C6C;
  letter-spacing: -1px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}
header .buttons #hamburger-btn {
  display: none;
  cursor: pointer;
}
header .buttons #hamburger {
  display: none;
}
header .buttons #hamburger:checked ~ .dropdown {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 1;
}
header .buttons .dropdown {
  top: 30px;
  left: 0px;
  margin-left: 20px;
  margin-right: 20px;
}
header .buttons .dropdown .value {
  width: auto;
}
header .buttons .head-line {
  margin-left: -45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #6C6C6C;
  font-weight: 600;
  margin-bottom: 20px;
}
header .buttons .head-line label {
  height: 24px;
  cursor: pointer;
}

section.hero {
  padding-top: 100px;
  height: 79vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 890px) {
  section.hero {
    padding-top: 20px;
  }
  section.hero .header p {
    line-height: 65px;
  }
}
@media screen and (max-width: 890px) and (max-width: 500px) {
  section.hero .header {
    font-size: 3rem !important;
  }
  section.hero .header p {
    line-height: 55px !important;
  }
}
section.hero .container .col:last-child {
  width: 50%;
}
section.hero .container .col:last-child img {
  width: 80%;
  min-width: 340px;
}
section.hero .container .col:first-child {
  padding-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section.hero .container .col:first-child .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5rem;
  margin-bottom: 20px;
}
section.hero .container .col:first-child .header p {
  color: #0A263F;
}
section.hero .container .col:first-child .header p span {
  color: #F7B300;
}
section.hero .container .col:first-child .description {
  color: #6C6C6C;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 23px;
}
section.hero .container .col:first-child .btn {
  margin-bottom: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
section.hero .container .col:first-child .rating {
  color: #6C6C6C;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.hero .container .col:first-child .rating .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 15px;
}
section.hero .container .col:first-child .rating .images #AlternativeTo-logo {
  margin-left: 10px;
  margin-right: 10px;
}

.section-companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}
.section-companies .undertext {
  margin-bottom: 30px;
  color: #6C6C6C;
  text-align: center;
}
.section-companies .companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1000px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 890px) {
  .section-companies .companies {
    max-width: 630px;
  }
  .section-companies .companies .shopify-logo, .section-companies .companies .walmart-logo {
    margin: 0;
  }
}
@media screen and (max-width: 890px) and (max-width: 465px) {
  .section-companies .companies img {
    max-width: 150px;
  }
}
.section-companies .companies li {
  margin-right: 20px;
}

.btn-register {
  background: #133416;
  color: white;
}

.btn-login {
  background: transparent;
  color: #6C6C6C;
  padding: 15px 25px;
}

.btn {
  border: 0;
  font-weight: 600;
  cursor: pointer;
  font-family: unset;
  border-radius: 5px;
  padding: 15px 30px;
}

@media screen and (max-width: 1080px) {
  section.hero .container .col:last-child {
    display: none;
  }
  section.hero .container .col:first-child {
    padding: 0;
  }
  header nav {
    display: none;
  }
  header .buttons .btn {
    display: none;
  }
  header .buttons #hamburger-btn {
    display: block;
  }
}
.dropdown {
  position: absolute;
  top: 30px;
  left: -80px;
  opacity: 0;
  -webkit-transition: 600ms all ease-out;
  transition: 600ms all ease-out;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  z-index: -1;
}
.dropdown .edge {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 100px;
  top: -5px;
}
.dropdown .value {
  width: 350px;
  background: white;
  border-radius: 15px;
  padding: 35px;
  padding-left: 75px;
}
.dropdown .value ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dropdown .value ul li {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.dropdown .value ul li:last-child {
  margin-bottom: 0;
}
.dropdown .value ul li .logo {
  margin-right: 10px;
}
.dropdown .value ul li .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -40px;
  font-weight: 700;
  color: #0A263F;
}
.dropdown .value ul li .description {
  line-height: 20px;
  font-size: 15px;
  color: #6C6C6C;
}