// colors
$text-grey: #6C6C6C;
$focus-text: #F7B300;
$focus-btn: #133416;
$text-blue: #0A263F;
$bg: #F3EDE5;
.container{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    align-items: center;
}
body{
    background: $bg;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
header{
    padding: 30px 0;
    nav{
        width: 40%;
        max-width: 450px;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li{
            position: relative;
            margin: 5px 5px;
            #dropdown:checked~.dropdown {
                opacity: 1;
                transform: translateY(0);
                z-index: 1;
            }
            input{
                display: none;
            }
            label,a{
                color: $text-grey;
                letter-spacing: -1px;
                font-weight: 500;
                font-size: 15px;
                cursor: pointer;
            }
            
        }
    }
    .buttons{
        #hamburger-btn {
            display: none;
            cursor: pointer;
        }
        #hamburger{
            display: none;
        }
        #hamburger:checked~.dropdown {
            opacity: 1;
            transform: translateY(0);
            z-index: 1;
        }
        .dropdown{
            top: 30px;
            left: 0px;
            margin-left: 20px;
            margin-right: 20px;
            .value{
                width: auto;
            }
        }
        .head-line{
            margin-left: -45px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $text-grey;
            font-weight: 600;
            label{
                height: 24px;
                cursor: pointer;
            }
            margin-bottom: 20px;
        }
    }
}
section.hero{
    padding-top: 100px;
    @media screen and (max-width:890px) {
        padding-top:20px;
        .header p{
            line-height: 65px;
        }
        @media screen and (max-width:500px) {
            .header{
                font-size: 3rem !important;
                p{line-height: 55px !important;}
            }
        }
    }
    height: 79vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .container{
        .col:last-child{
            width: 50%;
            img{
                width: 80%;
                min-width: 340px;
            }
        }
        .col:first-child{
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .header{
                display: flex;
                font-size: 4rem;
                font-weight: 700;
                line-height: 5rem;
                margin-bottom: 20px;
                p{
                    color: $text-blue;
                    span{
                        color: $focus-text;
                    }
                }
            }
            .description{
                color: $text-grey;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 20px;
                line-height: 23px;
            }
            .btn{
                margin-bottom: 20px;
                width: fit-content;
            }
            .rating{
                color: $text-grey;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 20px;
                line-height: 23px;
                display: flex;
                flex-direction: row;
                align-items: center;
                .images{
                    display: flex;
                    flex-direction: row;
                    margin-left: 15px;
                    #AlternativeTo-logo{
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
.section-companies{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    .undertext{
        margin-bottom: 30px;
        color: $text-grey;
        text-align: center;
    }
    .companies{
        display: flex;
        width: 100%;
        max-width: 1000px;
        flex-wrap: wrap;
        padding: 0 20px;
        justify-content: space-around;
        box-sizing: border-box;
        @media screen and (max-width:890px) {
            max-width: 630px;
            .shopify-logo,.walmart-logo{
                margin: 0;
            }
            @media screen and (max-width:465px) {
                img{
                    max-width: 150px;
                }
            }
        }
        li{
            margin-right: 20px;
        }
    }
}
.btn-register{
    background: $focus-btn;
    color: white;
    
}
.btn-login{
    background: transparent;
    color: $text-grey;
    padding: 15px 25px;
}
.btn{
    border: 0;
    font-weight: 600;
    cursor: pointer;
    font-family: unset;
    border-radius: 5px;
    padding: 15px 30px;

}
@media screen and (max-width:1080px){
section.hero{
    .container{
        .col:last-child{
            display: none;
        }
        .col:first-child{
            padding: 0;
        }
    }
}
header{
    nav{
        display: none;
    }
    .buttons{
        .btn{
            display: none;
        }
        #hamburger-btn{
            display: block;
        }
    }
}
}
.dropdown {
    position: absolute;
    top: 30px;
    left: -80px;
    opacity: 0;
    transition: 600ms all ease-out;
    transform: translateY(20px);
    z-index: -1;

    .edge {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: white;
        transform: rotate(45deg);
        left: 100px;
        top: -5px
    }

    .value {
        width: 350px;
        background: white;
        border-radius: 15px;
        padding: 35px;
        padding-left: 75px;

        ul {
            display: flex;
            flex-direction: column;

            li {
                margin: 0;
                display: flex;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }

                .logo {
                    margin-right: 10px;

                }

                .header {
                    display: flex;
                    align-items: center;
                    margin-left: -40px;
                    font-weight: 700;
                    color: $text-blue;
                }

                .description {
                    line-height: 20px;
                    font-size: 15px;
                    color: $text-grey;
                }

            }
        }
    }
}